<mat-card class="example-card">
    <div class="text-style-2">
        <h1 class="text-style-1">Venue</h1>
    </div>
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <img mat-card-image src="assets/kln-1.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
    </mat-card-content>
    <div class="text-style-2">
        <p class="text-style-1">
            62, K G Lakkenhalli, <br> Lakshmipura post, <br> Dasanpura hobli, Bengaluru, Karnataka <br> 562162
        </p>
    </div>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <div class="text-style-2">
        <h1 class="text-style-1">Venue</h1>
    </div>
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <img mat-card-image src="assets/kln-1.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
    </mat-card-content>
    <div class="text-style-2">
        <p class="text-style-1">
            62, K G Lakkenhalli, <br> Lakshmipura post, <br> Dasanpura hobli, Bengaluru, Karnataka <br> 562162
        </p>
    </div>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <div class="text-style-2">
        <h1 class="text-style-1">Venue</h1>
    </div>
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <img mat-card-image src="assets/kln-1.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
    </mat-card-content>
    <div class="text-style-2">
        <p class="text-style-1">
            62, K G Lakkenhalli, <br> Lakshmipura post, <br> Dasanpura hobli, Bengaluru, Karnataka <br> 562162
        </p>
    </div>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>


