<mat-card class="example-card">
    <div class="text-style-2">
        <h1 class="text-style-1" style="color:#0054ad">Venue</h1>
    </div>
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">Kalanivasthi</h1> <br>
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    <div style="text-align: center;">
        <p class="text-style-1" style="color: orangered;">
            K G Lakkenhalli, Lakshmipura post, Dasanpura hobli, Bengaluru, Karnataka - 562162
        </p>
    </div>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-5.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    
</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-1.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>

</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-2.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    
</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-3.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    
</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-4.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    
</mat-card>

<mat-card class="example-card">

    <img mat-card-image>
    <mat-card-content style="text-align: center;">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
        <img mat-card-image src="assets/kln-6.PNG" alt="Description of the image" title="Additional information or tooltip" class="responsive-image">
        <h1 class="emboss" style="margin-bottom: 0px; color:#D43790 ">・❀・</h1> <br>
    </mat-card-content>
    
</mat-card>


