<mat-sidenav-container style="background-color: rgb(250, 204, 204); 
                              background-attachment: fixed; 
                              background-size: cover;">
	<!-- Side nav content-->
	<mat-sidenav-content>
	<mat-toolbar class="position-fixed mat-elevation-z10" color="primary">
      <span class="mat-spacer"></span>
      <span>Wedding Invitation</span>
    </mat-toolbar>
    <div class="content">
        <app-home></app-home>
        <app-home></app-home>
        <app-home></app-home>
        <app-home></app-home>
    </div>
  </mat-sidenav-content>
  <!-- EO: Side nav content-->
</mat-sidenav-container>