<mat-card class="example-card">
  <div class="text-style-2">
    <h1 class="text-style-1" style="color: orangered;">ॐ</h1>
  </div>
    <mat-card-content style="text-align: center;">
        <p class="text-style-1" style="color: rgb(0, 80, 100);">S/o Smt Radha and Sri Kanthraj</p>
        <h1 class="emboss" style="margin-top: 20px;">Darshan</h1><br>
        <h1 class="emboss">and</h1><br>
        <h1 class="emboss" style="margin-bottom: 0px;">Mithali</h1><br>
        <p class="text-style-1" style="color: rgb(0, 80, 100);">D/o Smt Chandra Prabha B V and Sri Sheshkumar S C</p> <br>
        <p class="text-style-1" style="color: rgb(100, 0, 42);">Together with their families invite you to their wedding celebration.</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <div class="text-style-2">
      <h1 class="text-style-1" style="color: rgb(104, 0, 201);">Reception</h1>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center;">
        <p class="text-style-1" style="color: rgb(0, 109, 15);">27.03.2024, Wednesday 6:30 pm onwards</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>


<mat-card class="example-card">
  <div class="text-style-2">
    <h1 class="text-style-1" style="color: rgb(104, 0, 201);">Muhurtham</h1>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content style="text-align: center;">
      <p class="text-style-1" style="color: rgb(0, 109, 15);">28.03.2024, Thursday 10:58 am to 11:10 am</p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <div class="text-style-2">
    <h1 class="text-style-1" style="color: rgb(104, 0, 201);">Location</h1>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content style="text-align: center;">
      <p class="text-style-1" style="color: rgb(0, 109, 15);">62, K G Lakkenhalli, <br> Lakshmipura post, <br> Dasanpura hobli, Bengaluru, Karnataka <br> 562162</p>
      <a mat-raised-button style="background-color:#D43790" href="https://maps.app.goo.gl/inGJDtDHTKo3QiBQ9" target="_blank">Click here for Location</a>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
  
  
  
